@model ClusterAutomotriz_Model.Actividad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actividad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idActividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idActividad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreActividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreActividad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  @id = Model.idActividad  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
